.app-layout {
  display: grid;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valentine-name {
  font-size: 16vw !important;
  margin: 1rem 0 1rem 0 !important;
}
.valentine-question {
  font-size: 6vw !important;
  margin: 1rem 0 1rem 0 !important;
}
