.app-layout {
  display: grid;
  height: 100vh;
  justify-content: center;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.valentine-name {
  font-size: 12vw !important;
  margin: 1rem 0 1rem 0 !important;
}

.valentine-question {
  font-size: 6vw !important;
  margin: 1rem 0 1rem 0 !important;
}

.celebration-title {
  font-size: 8vw !important;
  margin: 1rem 0 1rem 0 !important;
}

.celebration-message {
  font-size: 4vw !important;
  margin: 1rem 0 1rem 0 !important;
}

.image-enhanced {
  /* Fades the image into the background */
  opacity: 0.6; /* Adjust as needed, values range from 0 to 1 */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for the fade effect */
  width: 350px; /* Adjust the width as needed */
  /* Rounds the corners of the image */
  border-radius: 20px; /* Adjust the pixel value as needed */

  /* Additional styling for a good look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border: 1px solid #ddd; /* Subtle border - optional */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.image-enhanced:hover {
  /* Increases the opacity back to full when hovering over the image */
  opacity: 1;
  z-index: 999;
}

.answer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
}
